.my-activities-container {
    width: 100%;

    .activities-list {
        width: 100%;
        th {
            background-color: rgb(209, 206, 206);
            color: rgb(111, 111, 112);
            font-weight: normal;
            padding: 0.4em;
        }
        tr {
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-bottom-color: rgb(209, 206, 206);
            
            td {
                padding: 0.4em;
            }
        }
        
        .activity-name {
            white-space: nowrap;
            overflow: hidden;
            max-width: 10em;
        }

        .activity-description {
            white-space: nowrap;
            overflow: hidden;
            max-width: 13em;
        }
        

        .activity-icon {
            margin-right: 0.5em;
        }

        @for $i from 2 to 4 {
            td:nth-child(#{$i}) {
                display: none;
            }

            th:nth-child(#{$i}) {
                display: none;
            }
        }
        
        .drop-menu {
            /* The container <div> - needed to position the dropdown content */
            position: relative;
            display: inline-block;

            /* Dropdown Button */
            .dropbutton {
                border: none;
                background-color: inherit;
                padding: 5px;
                cursor: pointer;
            }

            /* Dropdown button on hover & focus */
            .dropbutton:hover {
                background-color: #e0e6eb;
            }
            .dropbutton:focus { 
                background-color: #b8c2ca;
            }

            
            
            /* Dropdown Content (Hidden by Default) */
            .dp-content {
                
                opacity: 0;
                visibility: hidden;
                transform: translateY(-20px);
                position: absolute;
                background-color: #f1f1f1;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                display: flex;
                flex-direction: column;
                left: -8.5em;
                

                /* Buttons inside the dropdown */
                button {
                    border: none;
                    background-color: inherit;
                    padding: 5px;
                    cursor: pointer;
                    
                   
                }

                /* Dropdown button on hover & focus */
                button:hover {
                    background-color: #e0e6eb;
                }
                button:focus { 
                    background-color: #b8c2ca;
                }
                
            }

            
            .dp-content-active {
                transform: translateY(0);
                visibility: visible;
                opacity: 1;
            }
            
        }
    }
    
}

@media only screen and (min-width: 675px) {

    .my-activities-container {

        .activities-list { 

            td:nth-child(2) {
                display: table-cell;
            }
        
            th:nth-child(2) {
                display: table-cell;
            }
        }
    }
    
}

@media only screen and (min-width: 1200px) {

    .my-activities-container {

        .activities-list { 

            td:nth-child(3) {
                display: table-cell;
            }
        
            th:nth-child(3) {
                display: table-cell;
            }
        }
    }
    
}