.instruction-card-container {
    width: 5em;
    height: 5em;
    background-color: whitesmoke;
    margin: 0.5em;

    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    position: relative;

    .hide-check {
        display: none;
    }

    .show-check {
        display: block;
        position: absolute;
        top: 5px;
        right: 5px;
    }
}
