.maze-container {
	height: calc(100vh - 50px);
	padding: 2em;

	.maze {
		height: 100%;
	}

	.options-palette-container {
		.options-palette {
			position: sticky;
			bottom: 0;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
