.maze-header {
	.btn-zoom {
		border-radius: 50%;
	}
	.form-size {
		input {
			width: 4em;
		}
	}
}

.maze-container {
	width: 100%;
	height: calc(100vh - 100px);
	display: flex;
	justify-content: center;
	align-items: center;

	.maze {
		position: relative;
		background-color: #6cbae3;
	}
}
.options-palette-container {
	.options-palette {
		position: sticky;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.robot-maze {
	animation-name: robot_test;
	animation-iteration-count: infinite;
}

@keyframes robot_test {
	from {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	to {
		transform: rotate(360deg);
	}
}
