.maze-container {
	width: 100%;
	height: calc(100vh - 100px);

	.maze {
		position: relative;
		background-color: #6cbae3;
	}
}
.options-palette-container {
	.options-palette {
		position: sticky;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
