.maze-header {
	.btn-zoom {
		border-radius: 50%;
	}
	.form-size {
		input {
			width: 4em;
		}
	}

	.activity-attributes {
		display: grid;
		grid-template-columns: auto auto;
		grid-gap: 1em;
		margin-top: 1em;
		justify-content: center;

		.difficulty-grid-item {
			display: flex;
			align-items: center;
			grid-column: 1;
			grid-row: 1;

			label {
				margin: auto 0.5em;
			}
		}

		.verified-grid-item {
			display: flex;
			justify-content: center;
			margin: auto 0.5em;
			grid-column: 1;
			grid-row: 2;
		}
	}

	.zoom-panel {
		margin-bottom: 2em;
	}
}

.maze-container {
	width: 100%;
	max-width: calc(100vh - 200px);
	height: fit-content;
	max-height: calc(100vh - 200px);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;

	.maze {
		position: relative;
		background-color: #6cbae3;
		border-radius: 10px;

		.cells {
			overflow: hidden;
		}
	}
}

.btn-save-maze {
	position: fixed;
	width: 80px;
	height: 80px;
	right: 40px;
	bottom: 30px;
	border-radius: 50%;
}

.options-palette-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin-bottom: 130px;

	.options-palette {
		background-color: rgb(48, 48, 48);
		color: whitesmoke;
		position: sticky;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 10px;

		.option {
			border-radius: 5px;
			margin: 0.5em;
			padding: 0.2em 0.2em 0 0.2em;
			.icon {
				width: 3.2em;
				height: 3.2em;
				margin-bottom: 0.2em;
				border-radius: 5px;
			}
			h1 {
				font-size: 1.2em;
			}
		}
	}
}

@media only screen and (min-width: 396px) {
	.options-palette-container {
		.options-palette {
			.option {
				.icon {
					width: 4em;
					height: 4em;
				}
				h1 {
					font-size: 1.5em;
				}
			}
		}
	}
}

@media only screen and (min-width: 460px) {
	.options-palette-container {
		.options-palette {
			.option {
				.icon {
					width: 5em;
					height: 5em;
				}
				h1 {
					font-size: 1.5em;
				}
			}
		}
	}
}

@media only screen and (min-width: 460px) {
	.maze-header {
		.activity-attributes {
			justify-content: space-between;

			.difficulty-grid-item {
				grid-column: 1;
				grid-row: 1;
			}

			.verified-grid-item {
				justify-content: end;
				grid-column: 2;
				grid-row: 1;
			}
		}
	}
}

@media only screen and (min-width: 681px) {
	.maze-header {
		.zoom-panel {
			margin-bottom: 0;
		}
	}

	.options-palette-container {
		margin-bottom: 0;

		.options-palette {
			border-radius: 10px 10px 0 0;
		}
	}
}
