.card-data-panel-container {
    border-top-style: inset;
    border-top-width: 1px;
    border-top-color: rgb(255, 255, 255);

    // background-color: rgb(247, 0, 255);
    width: auto;
    padding-top: 2em;
    margin: auto 1em;

    h1 {
        font-size: 1.3em;
    }

    p {
        font-size: 0.8em;
    }

    h2 {
        margin-top: 1em;
        font-size: 1em;
    }

    .image-container {
        width: auto;
        text-align: center;
        border: 2px dashed #f69c55;
        line-height: 10em;
        margin: 1em auto 3em;

        p {
            color: rgb(187, 187, 187);
            font-weight: 600;
            padding: auto;
            margin: auto;
        }
    }
}

@media only screen and (min-width: 850px) {
    .card-data-panel-container {
        width: auto;
        margin: 2em 0 1em;
        padding: 0 0 0 1em;
        border: none;
        p {
            margin-bottom: 4em;
        }
    }
}