.logic-sequence-container {
    width: auto;
    margin: 4em auto auto auto;

    .logic-sequence-info {

        h1:hover  {
            background-color: rgb(233, 233, 233);
        }
        .activity-name-input {
            text-align: center;
            width: 25em;
            font-size: 1.7em;
            margin: 0.5em auto 0 auto;
            padding: 0.4em;
            resize: none;
            overflow: hidden;
            line-height: 1.2em;
        }

        .activity-description-input {
            width: 90em;
            font-size: 0.8em;
            margin: 0.5em auto 0 auto;
            padding: 0.7em;
            resize: none;
            overflow: hidden;
            line-height: 1.2em;
        }

        .activity-name-label {
            width: 25em;
            margin: 0.5em auto 0 auto;
            font-size: 1.7em;
            text-align: center;
            padding: 0.4em;
            word-wrap: break-word;
        }

        .activity-description-label {
            width: 90em;
            font-size: 0.8em;
            margin: 0.5em auto 0 auto;
            padding: 0.7em;
            word-wrap: break-word;
        }
    }

    .sequence-cards-container {
        width: auto;
        margin: 1em;

        .create-card-button {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
    }

    .save-button {
        margin: 1em;
    }
}


@media only screen and (min-width: 850px) {
    .logic-sequence-container {
        width: 50em;
        .panels{
            display: grid;
            grid-template-columns: repeat(2, minmax(auto, 50%));
            margin: 0 1em;
            
        }

        hr {
            margin: 0;
            padding: 0;
        }
    
        .sequence-cards-container {
            margin: 0;
            padding: 0 1em 0 0;
            width: auto;
            border-right: 1px solid #dadada;
           
        }

    }
    
}