.sequence-card-container {
    border-radius: 5px;
    border-color: rgb(212, 212, 212);
    background-color: white;
    border-style: solid;
    border-width: 1px;
    height: 4em;
    padding: 0.2em 0 0.2em 0.2em;
    width: auto;
    display: grid;
    grid-template-columns: 15% 75% 10%;
    cursor: pointer;
    vertical-align: middle;
    
    

    .sequence-card-img {
        max-width: 100%;
        max-height: 100%;
        width: 55px;
        height: 55px;
        border-radius: 2px;
    }
    .text-container {
        margin-left: 0.5em;
        display: flex;
        align-items: center;
        h1 {
            font-size: 1em;
            white-space: nowrap;
            overflow: hidden;
            padding: auto;
        }
    }


    .manage-buttons-container {
        display: flex;
        
    }

    .manage-buttons-container-1:hover {
        background-color: rgb(214, 214, 214);
        
    }
    
}

.selected-card {
    background-color: rgb(236, 236, 236);
}

.sequence-card-container:hover {
    background-color: rgb(228, 228, 228);
}