.unit-content-container {
	background-color: white;
	width: auto;
	max-width: 80em;
	margin: auto;
	padding-top: 1em;

	.unit-content-info {
		margin: auto 0.5em;
	}

	.buttons-container {
		margin: 0.4em;
		display: grid;
		grid-template-columns: 12em auto;

		.switcher {
			margin-top: 0.5em;
			justify-content: right;
		}
	}

	.cards-container {
		margin: auto 0.4em;
		padding-bottom: 1em;

		.add-task-button {
			width: auto;
			margin: 0.5em;
			height: 8em;
			border-color: rgb(214, 214, 214);
			border-width: 1px;
			border-style: solid;
			border-radius: 4px;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			p {
				color: rgb(200, 200, 200);
				margin: 0 0 0 1em;
			}

			transition-duration: 0.2s;

			&:hover {
				box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
				cursor: pointer;
				transform: scale(1.005);
				transition-duration: 0.2s;
			}
		}
	}

	.btn-delete {
		background-color: #f44336;
		&:hover {
			background-color: #d32f2f;
		}
		&:active {
			background-color: #ef9a9a;
		}
	}
}

.task-manage-container {
	padding: 2em 1em 0 1em;
	margin-bottom: 50px;

	.shadow {
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	}

	.activities-container {
		padding-top: 1em;
		margin-bottom: 100px;
	}
}

.btn-add-activities {
	position: fixed;
	right: 1em;
	bottom: 2em;
	height: 60px;
	width: 110px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	background-color: #b6e768;
	&:hover {
		background-color: #388e3c;
	}
	&:active {
		background-color: #a5d6a7;
	}
}

@media only screen and (min-width: 576px) {
	.task-manage-container {
		.btn-add-activities {
			right: 3em;
		}
	}
}

@media only screen and (min-width: 768px) {
	.task-manage-container {
		padding: 2em 0 0 0;
		.btn-add-activities {
			right: 8em;
		}
	}
}

@media only screen and (min-width: 1200px) {
	.task-manage-container {
		.btn-add-activities {
			right: 15em;
		}
	}
}

@media only screen and (min-width: 1366px) {
	.unit-content-container {
		width: 60em;
		margin: auto;
	}
}
