
.questionnaire-container {
    width: auto;
    margin: 1em auto auto auto;

	.activity-attributes {
		margin: 0.5em;

		.verified-grid-item {
			display: flex;
			justify-content: end;
			margin: auto 0.5em;
		}
	}

    .questionnaire-body {
        width: auto;
        margin: 1em;
        background-color: rgb(233, 233, 233);
        border-radius: 5px;

        .create-card-button {
            width: 100%;
            justify-content: center;
            align-items: center;
            display: flex;
        }
    }

    .save-button {
        margin: 1em;
        padding: 0.5em;
    }
}

@media only screen and (min-width: 550px) {
	.questionnaire-container {

		.activity-attributes {
			display: grid;
			grid-template-columns: auto auto;
			grid-gap: auto;

			.difficulty-grid-item {
				display: flex;
				align-items: center;

				label {
					margin: auto 0.5em;
				}
			}
		}
	}
}

@media only screen and (min-width: 850px) {
    .questionnaire-container {
        margin-top: 8em;
        width: 50em;

        .logic-sequence-alert {
            width: 50em;
        }

        hr {
            margin: 0;
            padding: 0;
        }

        .questionnaire-body {
            margin: 0;
            padding: 0;
            width: auto;
        }

        .hr-bar {
            visibility: hidden;
        }

        .create-card-button {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
        }
    }
}
