.question-card-container {
	background-color: white;
	margin-bottom: 0.3em;
	margin-left: 0.8em;
	margin-right: 0.8em;
	padding: 0.5em;
	border-radius: 5px;

	.question-info {
		display: grid;
		grid-template-columns: 90% 10%;
		align-items: center;
		justify-content: center;

		.question-button-uploader {
			margin: auto;
		}
	}

	.image-container {
		position: relative;
		max-width: 100%;
		min-width: fit-content;
		max-height: 350px;
		width: fit-content;
		height: fit-content;

		.question-image {
			max-width: 100%;
			max-height: 350px;
			min-height: 150px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}		

		.delete-img-button-mobile {
			background-color: rgb(228, 228, 228);
			position: absolute;
			top: -5px;
			right: -5px;
		}

		.delete-img-button {
			background-color: rgb(228, 228, 228);
			position: absolute;
			top: -5px;
			right: -5px;
			opacity: 0;
			transition: all 0.1s ease-in-out;
		}

		&:hover {
			.delete-img-button {
				opacity: 1;
			}
		}
	}

	.option-container {
		margin: 1em auto;

		.option-info {
			display: grid;
			grid-template-columns: 7% 69% 12% 12%;
			grid-column-gap: 0.2em;

			.option-info-icon {
				margin: auto;
			}

			.option-info-name {
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.check-option {
				display: flex;
				align-items: center;
				justify-content: center;
				margin: auto auto auto 0;
				background-color: white;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				border-width: 2px;
				border-style: solid;
				border-color: #525eff;
				position: relative;
				transition-duration: 0.2s;
				cursor: pointer;

				&.active::before {
					content: "";
					transition-duration: 0.2s;
					background-color: #3330ff;
					position: absolute;
					width: 12px;
					height: 12px;
					top: 2px;
					left: 2px;
					border-radius: 50%;
				}

				&:hover {
					box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
					transition-duration: 0.2s;
					background-color: #f1f1f1;
					border-color: #3429cf;

					&.active::before {
						transition-duration: 0.2s;
						background-color: #3429cf;
					}
				}
			}
		}

		.image-container {
			max-width: 50%;
			max-height: 170px;
			width: fit-content;
			height: fit-content;
			padding: 0;
			margin: 0;

			.option-image {
				max-width: 100%;
				max-height: 160px;
				display: block;
				margin: 0.5em auto;
			}

			.option-image-student {
				max-width: 100%;
				max-height: 150px;
				display: block;
				margin: 0.5em auto;
			}
		}
	}

	.option-container-student {
		-webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
		box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
		cursor: pointer;
		margin: 0.5em auto 0.5em auto;
		padding-bottom: 0.2em;
		border-radius: 10px;
		box-sizing: border-box;
		transition-duration: 0.2s;

		&:hover {
			transform: scale(1.01);
			-webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
			box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
		}
	}

	.add-option-btn {
		background-color: white;
		border: none;
		display: flex;
		align-items: center;
		font-size: 0.8em;
		padding: 0.3em;

		.add-icon {
			margin-right: 0.2em;
			font-size: 1.5em;
		}

		&:hover {
			background-color: #f5f5f5;
			border: none;
		}
	}

	.delete-question-icon-container {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	.correct-answers {
		margin-top: 1em;
		font-size: 1em;
		text-align: end;
	}
}

@media only screen and (min-width: 800px) {
	.question-card-container {
		margin-left: 0;
		margin-right: 0;
		padding: 2em;

		.option-container {
			.option-info {
				display: grid;
				grid-template-columns: 4% 85% 5% 5%;

				.check-option {
					margin: auto;
				}
			}
		}
	}
}
