.questionnaire-container {
    width: auto;
    margin: 1em auto auto auto;

    .activity-attributes {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 1em;
        margin-top: 1em;
        justify-content: center;

        .difficulty-grid-item {
            display: flex;
            align-items: center;
            grid-column: 1;
            grid-row: 1;

            label {
                margin: auto 0.5em;
            }
        }

        .verified-grid-item {
            display: flex;
            justify-content: center;
            margin: auto 0.5em;
            grid-column: 1;
            grid-row: 2;
        }
    }

    .questionnaire-body {
        width: auto;
        background-color: rgb(233, 233, 233);
        border-radius: 5px;
        margin-top: 1.5em;

        .create-card-button {
            width: 100%;
            justify-content: center;
            align-items: center;
            display: flex;
        }
    }

    .save-button {
        margin: 1em;
        padding: 0.5em;
    }
}

@media only screen and (min-width: 460px) {
    .questionnaire-container {
        .activity-attributes {
            justify-content: space-between;

            .difficulty-grid-item {
                grid-column: 1;
                grid-row: 1;
            }

            .verified-grid-item {
                justify-content: end;
                grid-column: 2;
                grid-row: 1;
            }
        }
    }
}

@media only screen and (min-width: 850px) {
    .questionnaire-container {
        margin-top: 1em;
        width: 50em;

        .logic-sequence-alert {
            width: 50em;
        }

        hr {
            margin: 0;
            padding: 0;
        }

        .questionnaire-body {
            margin: 0;
            margin-top: 1.5em;
            padding: 3px;
            width: auto;
        }

        .hr-bar {
            visibility: hidden;
        }

        .create-card-button {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
        }
    }
}
