$card-radius: 4px;

.task-card-container {
	border-radius: $card-radius;
	position: relative;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);

	margin: 0.5em 0.5em 1em;

	display: flex;
	flex-direction: column;

	// transition-duration: 0.2s;

	// &:hover {
	// 	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
	// 	cursor: pointer;
	// 	transform: scale(1.02);
	// 	transition-duration: 0.2s;
	// }

	.activities-container {
		border-radius: $card-radius $card-radius 0 0;
		border-color: rgb(214, 214, 214);
		border-width: 1px;
		border-style: solid;
		padding: 0.5em 0.5em 0.5em 0.2em;
		h2 {
			margin-left: 0.3em;
			font-size: 0.9em;
			font-weight: 700;
		}

		.activities-visualization {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			.activity-item {
				margin-bottom: 0.5em;
				width: 1em;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				margin-left: 0.3em;
				margin-right: 0.3em;
				h4 {
					text-align: center;
					font-size: 0.9em;
				}

				input[type="radio"]:disabled {
					display: none;
				}
			}

			.no-activities-label {
				font-size: 0.9em;
				margin: auto 0.3em;
			}
		}
	}

	.progress-visualization {
		border-radius: 0 0 $card-radius $card-radius;
		padding-top: 0.5em;
		padding-left: 0.5em;
		border-color: rgb(214, 214, 214);
		border-width: 0 1px 1px 1px;
		border-style: solid;
		h3 {
			font-size: 0.9em;
		}
	}

	.edit-button {
		position: absolute;
		width: 3em;
		height: 2.5em;
		bottom: 0.5em;
		right: 4em;
		border-radius: 4px;
		justify-content: center;
		align-items: center;
		display: flex;
	}

	.delete-button {
		position: absolute;
		bottom: 0.5em;
		right: 0.5em;
		width: 3em;
		height: 2.5em;
		border-radius: 4px;
	}
}
