.title-container {
    height: 140px;
    text-align: center;
    margin: auto 0;
    h1 {
        width: 6em;
        font-size: 2em;
    }
}

@media only screen and (min-width: 576px) {
    .title-container {
        h1 {            
            width: 100%;
            font-size: 3em;
        }
    }
}